<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Authors</h1>
    <p class="lead">Authors lists</p>
    <img src="http://www.authorcjanaya.com/uploads/2/4/7/9/24792136/4785275_orig.jpg">
  </div>
</header>

<div class="container" ng-show="update">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row text-center">      
      <div>
        <div class="row clearfix  table-bordered" >            
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <h3>Authors available ({{authors.length}})</h3>
            <table class="table table-condensed table-hover">
              <th  class="text-center">
                NAME
              </th>
              <th  class="text-center">
                NATIONALITY
              </th>
             
              <th  class="text-center">
                DETALLE
              </th>               
              <tr ng-repeat="item in authors">
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.nationality}}
                </td>
                      
                <td>
                  <a type="button" class="btn btn-warning" ng-click="verAuthor($index)">
                    Edit
                  </a>
                  <a type="button" class="btn btn-danger"  ng-click="deleteAuthor(item._id,$index)">
                    X
                  </a>
                </td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="Authors-form" ng-submit="enviar()">
    <h3 class="col-md-12">Create a Author</h3>
      <div id="main" class="col-md-12">
        
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">New Author</label>
          <div class="col-sm-7">
            <input placeholder="Name Author" ng-model="name" class="col-sm-6 form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Nationality</label>
          <div class="col-sm-7">
            <input placeholder="Author Nationality" ng-model="nation" class="col-sm-6 form-control" />
          </div>
        </div>
        <div class="form-group row col-sm-11">
          <div class="col-xs-6 col-md-4 text-right" style="float:right"><button type="submit" class="col-sm-12 col-md-12 btn btn-primary btn-md">Send</button>
        </div>
      </div>
  </form>
</div>
</div>

<div class="container" ng-hide="update" style="margin-top:20px">
  <div class="form-group row col-sm-6 col-md-6">
    <button  ng-click="regresar()" class="col-sm-3 col-md-3 btn btn-warning btn-md">Back</button>
  </div>
  <form class="Authors-form" ng-submit="enviar()">
    <h3 class="col-md-12">Update Author</h3>
      <div id="main" class="col-md-12">
         <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Author</label>
          <div class="col-sm-7">
            <input placeholder="Author Name" ng-model="UpdateName" class="col-sm-6 form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Nationality</label>
          <div class="col-sm-7">
            <input placeholder="Author Nationality" ng-model="updateNation" class="col-sm-6 form-control" />
          </div>
        </div>
      </div>
  </form>
</div>

