@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

 h1, h2, h3, h4, h5, h6 {
        text-align: center;
    }

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
@import 'admin/admin.less';
@import 'author/authors.less';
@import 'books/books.less';
@import '../components/modal/modal.less';
// endinjector
