<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Books</h1>
    <p class="lead">Books lists</p>
    <img src="http://emojipedia-us.s3.amazonaws.com/cache/7d/9f/7d9f720d14f0af07d527614030cc5e07.png">
  </div>
</header>

<div class="container" ng-show="update">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row text-center">      
      <div>
        <div class="row clearfix  table-bordered" >            
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <h3>books available ({{books.length}})</h3>
            <table class="table table-condensed table-hover">
              <th  class="text-center">
                TITLE
              </th>
              <th  class="text-center">
                DESCRIPTION
              </th>
              <th  class="text-center">
                IMAGE
              </th>
              <th  class="text-center">
                AUTHOR
              </th> 
              <th  class="text-center">
                DETALLE
              </th>               
              <tr ng-repeat="item in books">
                <td>
                  {{item.title}}
                </td>
                <td>
                  {{item.description}}
                </td>
                <td>
                  {{item.image}}
                </td>
                <td>
                   {{item.author}}
                </td>            
                <td>
                  <a type="button" class="btn btn-warning" ng-click="verBook($index)">
                    Edit
                  </a>
                  <a type="button" class="btn btn-danger"  ng-click="deleteBook(item._id,$index)">
                    X
                  </a>
                </td>
              </tr>
             
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="books-form" ng-submit="enviar()">
    <h3 class="col-md-12">Create a Book</h3>
      <div id="main" class="col-md-12">
        
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">New Book</label>
          <div class="col-sm-7">
            <input placeholder="Name book" ng-model="book" class="col-sm-6 form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Description</label>
          <div class="col-sm-7">
            <input placeholder="Description book" ng-model="description" class="col-sm-6 form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Image</label>
          <div class="col-sm-7">
            <input type="file" id="exampleInputFile">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Author</label>
          <div class="col-md-9">
            <select ng-model="selected" class="form-control" >
                <option ng-repeat="item in authors" value="{{item}}">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row col-sm-11">
          <div class="col-xs-6 col-md-4 text-right" style="float:right"><button type="submit" class="col-sm-12 col-md-12 btn btn-primary btn-md">Send</button>
        </div>
      </div>
  </form>
</div>
</div>

<div class="container" ng-hide="update" style="margin-top:20px">
  <div class="form-group row col-sm-6 col-md-6">
    <button  ng-click="regresar()" class="col-sm-3 col-md-3 btn btn-warning btn-md">Back</button>
  </div>
  <form class="books-form" ng-submit="enviar()">
    <h3 class="col-md-12">Update Book</h3>
      <div id="main" class="col-md-12">
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Book</label>
          <div class="col-sm-7">
            <input placeholder="Name book" ng-model="bookUpdate" class="col-sm-6 form-control"/>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Description</label>
          <div class="col-sm-7">
            <input placeholder="Description book" ng-model="descriptionUpdate" class="col-sm-6 form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Image</label>
          <div class="col-sm-7">
            <input type="file" id="exampleInputFile">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-md-offset-1">Author</label>
          <div class="col-sm-7">
            <input placeholder="Book author" ng-model="authorUpdate" class="col-sm-6 form-control"/>
          </div>
        </div>
        <div class="form-group row col-sm-11">
          <div class="col-xs-6 col-md-4 text-right" style="float:right"><button type="submit" class="col-sm-12 col-md-12 btn btn-primary btn-md">Send</button>
        </div>
      </div>
  </form>
</div>

